
    <link rel='stylesheet' href='css1/footer.css'/>

	<!--font awesome-->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<div class="footer">

    <div class="container-fluid why1">
        <div class="row m2">
            <div class="col-md-5 col-sm-5 a1">
                <a href=""><img src="https://itechindia.co/wp-content/uploads/2021/11/main-banner13.jpeg" class="img2"></a>
            </div>
            <br>
            <div class="col-md-7 col-sm-7">
                <h2 class="m3"><b style="color:#ffad00;">CONTACT</b> US</h2>
                  <p>Feel free to get in touch with us.</p>
                  <div class="row">
                <div class="col-md-6 foot-add">
                <span style="box-sizing: border-box;">
                    <strong style="color:#fcb21b; font-weight:normal;">Address</strong>
                    <br>
                    Nh-75, opp. Sithouli Railway Station,<br> Sithouli, Gwalior, Madhya Pradesh 475001
                </span>
                </div>
                <div class="col-md-6 foot-add">
                <span style="box-sizing: border-box;">
                    <strong style="color:#fcb21b; font-weight: normal;">Mobile No.</strong>
                    <br>Mobile:
                    <a href="" style="text-decoration: none; color: #fcb21b;">
                        <b style="font-weight:normal;">+91 7974978812</b>
                    </a>
    
                   
                </span>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6 foot-add">
                        <span style="box-sizing: border-box;">
                            <strong style="color:#fcb21b; font-weight: normal;">For Any Enquiry</strong>
                            <br>Email:
                            <a href="" style="text-decoration: none; color: #fcb21b;">
                                <b style="font-weight:normal;">admission@itmgoi.in</b>
                            </a>
    
                            
                            
                        </span>
                    </div>
    
                        <div class="col-md-6 foot-add">
                        <span style="box-sizing: border-box;">
                            <strong style="color:#fcb21b; font-weight: normal;">Open Timing</strong>
				
			
       		 	 
        		
          			 <br>
          			 Open: Monday – Saturday 
					 <br>Time: 9:00AM – 6:00PM
                        </span>
                    </div>
                   
            </div>
            
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>
          
                <!-- Twitter -->
                <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-twitter"></i
                ></a>
          
                <!-- Google -->
                <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-google"></i
                ></a>
          
                <!-- Instagram -->
                <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
          
                <!-- Linkedin -->
                <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
          
                <!-- Github -->
                <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
                  ><i class="fab fa-github"></i
                ></a>
              </section>
              <!-- Section: Social media -->

        </div><!--row end-->
    </div><!--container-fluid end-->
    </div>
    </div>
    <div class="container-fluid" style="background: #000; padding-bottom:30px; padding-top: 30px;">
	<div class="row" style="display:block;">
        
        
		<div class="text-center">
			<p class="copyright-text" style=" font-size: 14px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0rem;">
				PRIVACY POLICY | TERMS AND CONDITIONS | 
				<a href="" style="color:#fff; text-decoration:none;">BLOG</a>
				<br>
				COPYRIGHT © 2022 
				<a href=""style="color: white;text-decoration: none;">ADMISSION PORTAL</a>
			</p>
		</div>
	</div>
</div>
		
</body>
</html>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
