<%-include('./header.ejs')%>
<link rel="stylesheet" href="css/style.css">
<link rel='stylesheet' href='css1/header.css' />


<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/owl.carousel.css" />
<link rel="stylesheet" href="/style.css" />
<link rel='stylesheet' href='css1/gallery.css'/>
<div class="box1">
	<img src="https://www.gracetyler.org/wp-content/uploads/2017/02/college-admissions.jpg" width="100%" height="700px" class="w1">
	
</div>
  <br><br>
  
  
  
  
  <h1 class="text-center contactline">Gallery</h1>
  <br>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="https://imageio.forbes.com/specials-images/imageserve/6052170a9df9bdf69d63f201/0x0.jpg?format=jpg&width=1200"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6" style="margin-top:10px;">
          <a href="">
            <img
              src="https://meridiacu.com/wp-content/uploads/2017/10/foto-students.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6" style="margin-top:10px;">
          <a href="">
            <img
              src="https://www.globalcareercounsellor.com/blog/wp-content/uploads/2021/03/ow-to-Effectively-Guide-Students-on-College-Admissions.jpg"
              class="w-100 d-block brands-logos h-100">
  
          </a>
  
        </div>
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/5/2018/03/Collegestudents.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="https://www.collegekickstart.com/images/college-students.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="https://images.news18.com/ibnlive/uploads/2022/06/ugc2-1-16551781453x2.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="https://ca-times.brightspotcdn.com/dims4/default/cb7feb6/2147483647/strip/true/crop/1500x1000+0+0/resize/1486x991!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F69%2F74%2F0f0e80e143919d16578bb3664192%2Fhigh-school-students.jpg"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        <div class="col-md-6 brands-logos1" style="margin-top:10px;">
          <a href="">
            <img
              src="http://static1.squarespace.com/static/5269fbd3e4b0eb2b76ccc1db/54bc1ff5e4b0276f663b2dd7/5c6c6989ee6eb01c6d368c19/1612925683489/shutterstock_211410793-min.jpg?format=1500w"
              class="w-100 d-block brands-logos">
  
          </a>
  
        </div>
  
        
      </div>
    </div>
  </div>
  <br><br>
  <%-include('./footer.ejs')%>