<%-include('../header.ejs')%>


<link rel="stylesheet" href="/css/style.css">
<link rel='stylesheet' href='/css1/header.css' >
<link rel='stylesheet' href='/css1/about.css' >

<link rel="stylesheet" href="/css/font-awesome.min.css" >
<link rel="stylesheet" href="/css/owl.carousel.css" >
<link rel="stylesheet" href="/style.css">

<div class="container-fluid">
	
	<div class="row">
		
		<div class="col-md-1"></div>
		<div class="col-md-5" style="margin-left: 20px;">
			<br><br><br>
			<h2 class="text-black"><br>MBA Registration Form</h2>
			<p class="text-black">Once you"re registered, you can:<br><br>In Case any query, Kindly Contact: 7974978812</p>
			<hr class="text-black">
			<br><br>
            <center>
			<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp" width="600" height="730">
            </center>
        </div>
		

		<div class="col-md-5" style="margin-top: 240px; background: #fafaf8;margin-left: 20px; margin-bottom: 50px; height: 800px;">
			<h3 class="text-center text-info" style="padding-top: 20px;">MBA Registration Form</h3>
			<form action="/course/btechinsert" method="post">
				<div class="mb-3">
				<label>UserName:</label>
				<input type="text" name="username" class="form-control" value="<%= data1.username %>">
				</div>

				<div class="mb-3">
				<label>Email:</label>
				<input type="text" name="email" class="form-control"  value="<%= data1.email %>">
				
				</div>

				<div class="mb-3">
				<label>Mobile Number:</label>
				<input type="text" name="mobile" class="form-control" placeholder="Enter Mobile Number">
				</div>

				<div class="mb-3">
					<label>Address:</label>
					<br>
					<textarea class="form-control" name="address"></textarea>
				</div>

				<div class="mb-3">
				<label>Gender:</label><br>
				<input type="radio" name="gender" value="Male">Male<br>
				<input type="radio" name="gender" value="Female">FeMale
				</div>
				
				<div class="mb-3">
				<label>College</label>
				<br>
				<select name="college" class="form-control">
					<option>Select college</option>
					<option>RGIT</option>
					<option>SHRIRAM COLLEGE OF ENGINEERING AND MANAGEMENT</option>
					<option>MPCT</option>
					<option>MITS</option>
					<option>ITM</option>
					<option>OTHERS</option>
				</select>
				</div>

				<div class="mb-3">
				<label>Course</label>
				<br>
				<select name="course" class="form-control">
					<option>Select</option>
					<option>MBA</option>
				</select>
				</div>	

				<div class="mb-3">
				<label>Branch</label>
				<br>
				<select name="branch" class="form-control">
					<option>Select</option>
					<option>C.S.E</option>
					<option>I.T</option>
					<option>E.E</option>
					<option>E.C</option>
					<option>MECH.</option>
					<option>CIVIL</option>
					<option>AUTOMOBILE</option>
					<option>OTHERS</option>
				</select>
				</div>
				<input type="hidden" name="user_id" value="<%= data1._id%>">	
                <button type="submit" class="btn btn-info">Submit</button>	
		</form>

		</div>
		
	</div>
</div>
<div class="col-md-1"></div>
</body>
</html>